body, html {
    height: 100vh;
    width: 100%;
    font-family: 'Work Sans', sans-serif !important;
    color: white;
}

.bg {
    background-image: url("../images/painted-wood-planks-large-background-2899.jpg");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    padding-top: 5%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.iconImage{
    padding-top: 8%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
}

.titleText{
    font-size: 3em;
    font-weight:600;
}

.subtitleText{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.messageText{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .titleText {
        font-size: 3em;
    }
    .subtitleText {
        font-size: 2em;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .titleText {
        font-size: 2.5em;
    }
    .subtitleText {
        font-size: 2em;
    }
}
