@page

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row col-lg-12 text-center">
        <div class="titleText">
            Dragon 2000
        </div>
    </div>

    <div class="row col-lg-12 text-center">
        <img src="~/images/icon.png" alt="Icon" class="iconImage img-responsive center-block">
    </div>

    <div class="row col-lg-12 text-center">
        <div class="subtitleText">
            Another Title
        </div>

        <button type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-ok"></span> Click Me!
        </button>

        <div class="messageText">
            This is a success message!
        </div>
    </div>
</div>





